.homepage-container {
    height: 100vh;
    background-color: #7593FF;

    .homepage-title-container {
        width: auto;
        padding: 40px 80px;

        .homepage-title {
            font-size: 4em;
            font-weight: bold;
            color: #f0ffff;
            letter-spacing: 0.125em;
        }

        .homepage-subtitle {
            font-size: 2em;
            font-weight: bold;
            color: #f0ffff;
        }
    }

    .scene-one-container {
        padding: 40px 80px;
    }
}