.project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 980px) {
  .project-card-container {
    width: 50%;
  }
}

.project-card-container a {
  text-decoration: none;
  color: white;
}

.project-card-container a .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  background-color: #587061;
  -webkit-box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  will-change: transform;
  border-radius: 5px;
  height: 200px;
}

.project-card-container a .card .card-body {
  margin-top: 27px;
  margin-bottom: 27px;
  line-height: 1.5;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .project-card-container a .card .card-body {
    font-size: 18px;
  }
}

.project-card-container a .card .project-card-content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-card-container a .card .project-card-content .project-card-image-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media screen and (min-width: 576px) {
  .project-card-container a .card .project-card-content .project-card-image-container {
    padding-bottom: 30px;
  }
}

.project-card-container a .card .project-card-content .project-card-image-container img {
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 250px;
  width: 100px;
  max-height: 250px;
  height: 100px;
}

.project-card-container a .card .project-card-content .project-card-header-container {
  padding: 20px;
  height: 100px;
}

.project-card-container a .card .project-card-content .project-card-header-container .project-card-technoliges-container {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10;
  left: 10;
  bottom: 20;
}

.project-card-container a .card .project-card-content .project-card-header-container .project-card-technoliges-container p {
  background-color: #353535;
  color: white;
  font-size: 0.75em;
  text-align: center;
  border: 1px solid #a8d8ff;
  border-radius: 25px;
  width: 80px;
  margin: 10px;
}

.project-card-container a .card .project-card-content .project-card-header-container .project-card-title-container p {
  margin: 0;
  font-size: 1em;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5em;
}

.project-card-container .card:hover {
  background-color: #7ca08a;
}
/*# sourceMappingURL=ProjectCard.css.map */