.project-card-container {
    border: 3px dotted red;
    height: 100%;
    width: 100%;

    .project-card-content {
        .project-card-images-thumbnail-container {
            border: 3px dotted rgb(17, 0, 255);
            height: 350px;
            width: 700px;

            img {
                position: absolute;
                z-index: -10;
                border-radius: 25px;
                height: 350px;
                width: 700px;
            }

            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0.5;
                transition: .5s ease;
                background-color: #000000;
            }

            .overlay:hover {
                opacity: 0;
            }
        }

        .project-card-header-container {
            .project-card-technoliges-container {
                .project-card-title-container {
                    p {}
                }
            }
        }
    }
}