.project-details-page-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;
    background-color: rgb(221, 221, 221);

    .project-details-page-link {

        a {
            display: inline-block;
            vertical-align: middle;
            background-color: rgb(134, 192, 158);
            text-decoration: none;
            margin: 20px;
            padding: 0.5em 0.75em;
            border-radius: 5px;
            color: white;

        }
    }

    .project-details-page-title {
        margin: 0;
        width: 50vw;


        p {
            padding-left: 5vw;
            font-size: 4em;
            font-weight: bold;
            margin: 0;

        }
    }

    .project-details-page-subTitle {
        margin: 0;
        width: 50vw;


        p {
            padding-left: 5vw;
            margin: 0;


        }
    }

    .project-details-page-image {
        padding: 0px;
        margin: 0;

        img {
            padding: 1em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: auto;

        }
    }

    .project-details-page-description {
        padding: 4em;

        p {
            line-height: 1.5em;
            word-spacing: 0.25em;


        }
    }
}

@media screen and (max-width: 960px) {
    .project-details-page-container {
        margin: 0;
        padding: 20px;
        height: 100vh;
        width: auto;
        background-color: #fff;

        .project-details-page-link {
            position: absolute;

            a {
                display: flex;
                justify-content: space-between;
                bottom: 0;
                background-color: rgb(134, 192, 158);
                text-decoration: none;
                margin: 20px;
                padding: 0.5em 0.75em;
                border-radius: 5px;
                color: white;
            }
        }

        .project-details-page-title {
            margin: 0;
            padding: 20px;
            width: 100%;


            p {
                text-align: center;
                font-size: 4em;
                font-weight: bold;
                margin: 0;
                padding: 0;

            }
        }

        .project-details-page-subTitle {
            margin: 0;
            padding: 0;
            width: 100%;

            p {
                margin: 0;
            }
        }

        .project-details-page-image {
            padding: 0;
            margin: 0;

            img {
                padding: 1em;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 300px;
                height: auto;

            }
        }

        .project-details-page-description {
            padding: 1em;
            margin: 0;


            p {
                line-height: 1.5em;
                word-spacing: 0.25em;
            }
        }
    }
}